body {
    background-color: gainsboro;
}
.cell{
    background-color: red;
    padding: 10px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.highlight{
    background-color: rgba(0, 100, 0, .21);
    
}