
@mixin text_fs($size, $attribute) {
  @if $attribute != '' {
    .text-fs--#{$size}--#{$attribute} {
      font-size: #{$size}px;
    }
  } @else {
    .text-fs--#{$size} {
      font-size: #{$size}px;
      line-height: #{$size}px;
    }
  }
}

@mixin text_style($attribute) {
  @if ($attribute != '') {

    .text-align--center-#{$attribute} {
      text-align: center;
    }
    .text-align--left-#{$attribute} {
      text-align: left;
    }
    .text-align--right-#{$attribute} {
      text-align: right;
    }
    .text-align--justify-#{$attribute} {
      text-align: justify;
    }

    .text-style--normal-#{$attribute} {
      font-style: normal;
    }
    .text-style--italic-#{$attribute} {
      font-style: italic;
    }
    .text-style--oblique-#{$attribute} {
      font-style: oblique;
    }

    .content-justify--center-#{$attribute} {
      justify-content: center;
    }
  } @else {

    .text-align--center {
      text-align: center;
    }
    .text-align--left {
      text-align: left;
    }
    .text-align--right {
      text-align: right;
    }
    .text-align--justify {
      text-align: justify;
    }

    .text-style--normal {
      font-style: normal;
    }
    .text-style--italic {
      font-style: italic;
    }
    .text-style--oblique {
      font-style: oblique;
    }

    .content-justify--center {
      justify-content: center;
    }
  }
}
